#root,body,html{
    height: 100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: rgb(16,94,38);
background: linear-gradient(90deg, rgba(16,94,38,0.9864320728291317) 51%, rgba(3,20,3,1) 100%);
}